<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="impl.ChoiceImpl">
	
	<!-- 채택하는 사람의 포인트 차감 -->
	<update id="choiceAction1" parameterType="model.MemberDTO">
		UPDATE member
			SET myPoint = (myPoint-#{param1})
		WHERE id=#{param2}
	</update>
	
	<!-- 채택받은 사람의 포인트 추가 -->
	<update id="choiceAction2" parameterType="model.MemberDTO">
		UPDATE member
			SET myPoint = (myPoint + #{param1})
		WHERE id=#{param2}
	</update>
</mapper>
