<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="impl.AudioBoardImpl">

	<select id="audioList" resultType="model.AudioBoardDTO">
		select audio_idx, audiotitle, b.id, b.album_idx, audiofilename, artistname, albumName, regidate, imagename, category, like_count, party, contents
			from audioboard b inner join album a on b.album_idx=a.album_idx where b.id=#{param1} order by regidate desc
	</select>
	
	<select id="audioListPaging" resultType="model.AudioBoardDTO">
		select * from 
		(select tb.*, rownum rnum from
		(select audio_idx, audiotitle, b.id, b.album_idx, audiofilename, artistname, albumName, regidate, imagename, category, like_count, party, contents
			from audioboard b inner join album a on b.album_idx=a.album_idx where b.id=#{param1} order by regidate desc)tb) where rnum between #{param2} and #{param3}
	</select>
	
	<select id="audioBoardView">
		SELECT * FROM audioboard
	</select>
	
	<!-- 업로드 -->
	<insert id="addAudioBoard">
		insert into audioboard(audio_idx, audiotitle, id, album_idx, audiofilename, artistname, contents, imagename, category, party)
			values(seq_audioboard.nextval, #{param1}, #{param2}, #{param3}, #{param4}, #{param5}, #{param6}, #{param7}, #{param8}, #{param9})
	</insert>
	
	<select id="mainAudioList" resultType="model.AudioBoardDTO">
		select * from (select a.*,rownum as n from audioboard a Where<![CDATA[regidate<=sysdate-#{0}]]> and <![CDATA[regidate>=sysdate-#{1}]]> 
		order by (((like_count/(select sum(like_count)+1 from audioboard))+(play_count/(select sum(play_count)+1 from audioboard)))*100 ) DESC) 
		<![CDATA[where n>=#{2}]]> and <![CDATA[n<=#{3}]]> 
	</select>
	<select id="mainAudioListCoop" resultType="model.AudioBoardDTO">
		select * from (select a.*,rownum as n from audioboard a Where<![CDATA[regidate<=sysdate-#{0}]]> and <![CDATA[regidate>=sysdate-#{1}]]> 
		and party=#{4} order by (((like_count/(select sum(like_count)+1 from audioboard))+(play_count/(select sum(play_count)+1 from audioboard)))*100 ) DESC) 
		<![CDATA[where n>=#{2}]]> and <![CDATA[n<=#{3}]]> 
	</select>
	
	
	<select id="audioListLast" resultType="model.AudioBoardDTO">
		select * from audioboard WHERE ID=#{0} AND <![CDATA[ ROWNUM=1 ]]> ORDER BY regidate DESC
	</select>
	<select id="audioCount" resultType="int">
		select count(*) from audioboard
	</select>
	
	<select id="myAudioCount" resultType="int">
		select count(*) from audioboard where id=#{param1}
	</select>
	
	<delete id="recordDelete">
		delete from audioboard where id=#{param1} and audio_idx=#{param2}
	</delete>
	
	<select id="recordFollow" resultType="model.AudioBoardDTO">
		select * from
		(select tb.*, rownum rnum from 
		(select a.audio_idx, audiotitle, a.id, album_idx, audiofilename, artistname, regidate, imagename, category, like_count, party 
		from follow f inner join audioboard a on f.following_id=a.id where user_id=#{param1} order by regidate desc)tb) where rnum between #{param2} and #{param3}
	</select>
	
	<select id="selectaudioidx" resultType="model.AudioBoardDTO">
		select * from audioboard where audio_idx=#{param1}
	</select>
</mapper> 
