<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="impl.AudioBoardImpl">

	<select id="audioList" resultType="model.AudioBoardDTO">
		select audio_idx, audiotitle, b.id, b.album_idx, audiofilename, artistname, albumName, regidate, imagename
			from audioboard b inner join album a on b.album_idx=a.album_idx where b.id=#{param1} order by regidate desc
	</select>
	
	<!-- 업로드 -->
	<insert id="addAudioBoard">
		insert into audioboard(audio_idx, audiotitle, id, album_idx, audiofilename, artistname, contents, imagename, category, party)
			values(seq_audioboard.nextval, #{param1}, #{param2}, #{param3}, #{param4}, #{param5}, #{param6}, #{param7}, #{param8}, #{param9})
	</insert>
	
	<select id="mainAudioList" resultType="model.AudioBoardDTO">
		select * from (select a.*,rownum as n from audioboard a Where<![CDATA[regidate<=sysdate-#{0}]]> and <![CDATA[regidate>=sysdate-#{1}]]> 
		order by (((like_count/(select sum(like_count)+1 from audioboard))+(play_count/(select sum(play_count)+1 from audioboard)))*100 ) DESC) 
		<![CDATA[where n>=#{2}]]> and <![CDATA[n<=#{3}]]> 
	</select>
	<select id="audioListLast" resultType="model.AudioBoardDTO">
		select * from audioboard WHERE ID=#{0} AND <![CDATA[ ROWNUM=1 ]]> ORDER BY regidate DESC
	</select>
	<select id="audioCount" resultType="int">
		select count(*) from audioboard
	</select>
</mapper> 
