<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="impl.FollowImpl">

	<!-- user의 팔로잉 -->
	<select id="following" resultType="model.FollowDTO">
		select user_id, following_id, nickname, intro, img from follow f inner join member m on f.following_id=m.id where user_id=#{param1}
	</select>
	
	<select id="followers" resultType="model.FollowDTO">
		select user_id, following_id, nickname, intro, img from follow f inner join member m on f.user_id=m.id where following_id=#{param1}
	</select>
	
	<select id="followingCount" resultType="int">
		select count(*) from follow where user_id=#{param1}
	</select>
	<insert id="follow"  parameterType="model.FollowDTO">
		INSERT INTO FOLLOW VALUES(#{user_id},#{following_id})
	</insert> 
	<delete id="unFollow" parameterType="model.FollowDTO">
		DELETE FROM follow WHERE USER_ID=#{user_id} AND FOLLOWING_ID=#{following_id}
	</delete>
	<select id="followerCount" resultType="int">
		select count(*) from follow where following_id=#{param1}
	</select>
	
	<select id="followingCheck" resultType="int">
		select count(*) from follow where user_id=#{param1} and following_id=#{param2}
	</select>

</mapper>	 