<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="impl.IdPwSearchImpl">
 
 	<!-- 아이디찾기 -->
	<select id="idSearch" resultType="model.MemberDTO">
		SELECT * FROM member WHERE nickname=#{param1} AND email=#{param2}
	</select>
 
 </mapper>