<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="impl.LikeImpl">
	<insert id="like">
		INSERT INTO like_board(audio_idx, like_id) VALUES(#{param1},#{param2})
	</insert> 
	<delete id="nolike">
		DELETE FROM like_board WHERE AUDIO_IDX=#{param1} AND LIKE_ID=#{param2}
	</delete>
	
	<!-- 오디오보드 like수 -->
	<update id="addlike" parameterType="int">
	UPDATE audioboard SET LIKE_COUNT = LIKE_COUNT+1 WHERE AUDIO_IDX = #{param1}
	</update>
	<update id="removelike" parameterType="int">
	UPDATE audioboard SET LIKE_COUNT = LIKE_COUNT-1 WHERE AUDIO_IDX = #{param1}
	</update>

	<select id="countlike" parameterType="int" resultType="int">
	SELECT like_count FROM audioBoard WHERE AUDIO_IDX=#{param1}
	</select>
	
	<select id="selectLike" resultType="int">
	select a.audio_idx from like_board l inner join audioboard a on l.audio_idx=a.audio_idx where like_id=#{param1} and id=#{param2}
	</select>

	<select id="myLike" resultType="int">
		select count(*) from like_board where audio_idx=#{param1} and like_id=#{param2}
	</select>
	
	<select id="myLikeSelect" resultType="model.AudioBoardDTO">
		select * from (select tb.*, rownum rnum from (select a.audio_idx, audiotitle, a.id, album_idx, audiofilename, artistname, regidate, imagename, category, like_count, party 
from like_board l inner join audioBoard a on l.audio_idx=a.audio_idx where like_id=#{param1} order by regidate desc)tb) where rnum between #{param2} and #{param3}
	</select>
</mapper>	 