<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="impl.LikeImpl">
	<insert id="like"  parameterType="model.LikeDTO">
		INSERT INTO like_board VALUES(#{audio_idx},#{like_id})
	</insert> 
	<delete id="nolike" parameterType="model.LikeDTO">
		DELETE FROM like_board WHERE AUDIO_IDX=#{audio_idx} AND LIKE_ID=#{like_id}
	</delete>
	<update id="addlike" parameterType="int">
	UPDATE audioboard SET LIKE_COUNT = LIKE_COUNT+1 WHERE AUDIO_IDX = #{0}
	</update>
	<update id="removelike" parameterType="int">
	UPDATE audioboard SET LIKE_COUNT = LIKE_COUNT-1 WHERE AUDIO_IDX = #{0}
	</update>
	<select id="countlike" parameterType="int" resultType="int">
	SELECT COUNT(*) FROM like_board WHERE AUDIO_IDX=#{0}
	</select>
	<select id="selectLike" resultType="int">
	select a.audio_idx from like_board l inner join audioboard a on l.audio_idx=a.audio_idx where like_id=#{param1} and id=#{param2}
	</select>
</mapper>	 