<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="impl.MemberImpl">

	<!-- user의 팔로잉 -->
	<select id="memberInfo" resultType="model.MemberDTO">
		select * from member where id=#{param1}
	</select>

	<!-- 회원가입 -->
	<insert id="membershipInfo" >
		insert into member (id,pw,nickname,email,phone,address,grade,regidate,intro,myPoint,img,enabled) 
				values (#{id},#{pw},#{nickname},#{email},#{phone},#{address},1,sysdate,#{intro},0,#{img},1);
	</insert>
	
	<!-- 아이디 중복확인 -->
	<select id="idChk" resultType="int">
		SELECT count(*) FROM member WHERE id=#{id}
	</select>
	
	<!-- 닉네임 중복확인 -->
	<select id="nickChk" resultType="int">
		SELECT count(*) FROM member WHERE nickname=#{nickname}
	</select>
	
	


</mapper>	 

