<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="impl.MypageImpl">

	<!-- 회원정보 수정 -->
 	<update id="memberUpdate" parameterType="int">
		UPDATE member SET pw=#{pw}, email=#{email}, phone=#{phone}, address=#{address}, intro=#{intro}, img=#{img} WHERE id=#{id} 
	</update>
	
	<!-- 회원삭제 -->
	<delete id="memberDelete">
		DELETE FROM member WHERE id=#{param1}
	</delete>

</mapper>	 
