<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="impl.ViewImpl">
	<!-- 상세보기 -->
	<select id="View" resultType="model.AudioBoardDTO">
	SELECT * FROM member M INNER JOIN album A on M.id = A.id
    	INNER JOIN audioboard B on A.album_idx = B.album_idx
	WHERE
    	B.audio_idx = #{audio_idx}
	</select>
	
	<!-- 댓글리스트 -->
	<select id="mComment" resultType="model.MCommentDTO">
		SELECT * FROM m_comment WHERE audio_idx=#{audio_idx} ORDER BY comment_idx ASC
	</select>
	
	<!-- 댓글추가기능 -->
	<insert id="commentAction">
		INSERT INTO m_comment
		(comment_idx, audio_idx, id, contents, regidate)
		VALUES
		(seq_comment.nextval,#{audio_idx},#{id},#{contents},sysdate)
	</insert>
	
	<!-- 상세페이지 불러오기 -->
	<select id="modify" resultType="model.AudioBoardDTO">
		SELECT * FROM audioboard WHERE audio_idx=#{audio_idx} AND id=#{id}
	</select> 
	
	<!-- 상세페이지 수정처리 -->
	<update id="modifyAction" parameterType="model.AudioBoardDTO">
		UPDATE audioboard
			SET audiotitle=#{audiotitle}, artistname=#{artistname}, contents=#{contents},
				audiofilename=#{audiofilename}, imagename=#{imagename}, category=#{category}
				WHERE audio_idx=#{audio_idx} AND id=#{id}
	</update>
	
	<!-- 댓글삭제 -->
	<delete id="delete">
		DELETE FROM m_comment
		WHERE
		comment_idx=#{comment_idx} AND id=#{id}
	</delete>
	
</mapper>
