<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="impl.ViewImpl">
	<select id="View" resultType="model.AudioBoardDTO">
		SELECT * FROM audioboard WHERE audio_idx=#{audio_idx}
	</select>
	
	<select id="mComment" resultType="model.MCommentDTO">
		SELECT * FROM m_comment WHERE audio_idx=#{audio_idx} ORDER BY comment_idx ASC
	</select>
	
	<insert id="commentAction">
		INSERT INTO m_comment
		(comment_idx, audio_idx, id, contents, regidate)
		VALUES
		(seq_comment.nextval,#{audio_idx},#{id},#{contents},sysdate)
	</insert>
	
	<select id="modify" resultType="model.AudioBoardDTO">
		SELECT * FROM audioboard WHERE audio_idx=#{audio_idx} AND id=#{id}
	</select> 
	
	<update id="modifyAction" parameterType="model.AudioBoardDTO">
		UPDATE audioboard
			SET audiotitle=#{audiotitle}, artistname=#{artistname}, contents=#{contents}
				WHERE audio_idx=#{audio_idx} AND id=#{id}
	</update>
	
	<delete id="delete">
		DELETE FROM m_comment
		WHERE
		comment_idx=#{comment_idx} AND id=#{id}
	</delete>
</mapper>
